* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", serif;
  background-color: #f5f8ff;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/* navebar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.navbar-right {
  padding-right: 20px;
}

.navbar-right ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 48px;
}
.navbar-left {
  width: 135px;
  height: 82px;
}

/* Banner section  */
.banner {
  display: flex;
  align-items: end;
  margin-top: 120px;
}

.banner-left h1 {
  font-weight: bold;
  font-size: 65px;
}
.banner-left p {
  width: 85%;
  font-size: 22px;
  color: #7a7c7f;
}
.banner-right {
  width: 50%;
}

/* plant */
.plant {
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}

.plant-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.plant-header h1 {
  font-weight: bold;
  font-size: 50px;
}
.plant-header p {
  font-size: 22px;
  color: #7a7c7f;
  height: 53px;
  width: 888px;
  margin-bottom: 49px;
}

/* CARD */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

.card h3 {
  padding-top: 30px;
}

.card h2 {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 30px;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  width: 270px;
  height: 50px;
}

/* flower-lover */
.flower-lover {
  margin-top: 211px;
  display: flex;
  align-items: center;
  gap: 90px;
}

.flower-lover-right h1 {
  font-weight: bold;
  font-size: 50px;
}
.flower-lover-right ul li {
  font-size: 22px;
  color: #7a7c7f;
  list-style-position: inside;
  padding: 25px;
}

/* .tlogo {
  height: 286px;
  width: 286px;
  position: relative;
  bottom: 750px;
  left: 520px;
  background: transparent;

} */

/* latest deals */
.deals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 133px;
}
.deals h1 {
  font-weight: bold;
  font-size: 50px;
}
.deals p {
  height: 53px;
  width: 888px;
  font-size: 22px;
  color: #7a7c7f;
}
