* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", serif;
  background-color: #f5f8ff;
}

.container {
  max-width: 1280px;
  margin: auto;
}
.container2 {
  max-width: 1680px;
  margin: auto;
}

/* navebar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.navbar-right ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 48px;
}
.home-shop-us {
  display: flex;
  justify-content: space-evenly;
  gap: 48px;
}
.navbar-left {
  width: 135px;
  height: 82px;
}

/* Banner section  */
.banner {
  display: flex;
  align-items: end;
  margin-top: 120px;
}

.banner-left h1 {
  font-weight: bold;
  font-size: 65px;
}
.banner-left p {
  width: 85%;
  font-size: 22px;
  color: #7a7c7f;
}
.banner-right {
  width: 50%;
}

/* plant */
.plant {
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}

.plant-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.plant-header h1 {
  font-weight: bold;
  font-size: 50px;
}
.plant-header p {
  font-size: 22px;
  color: #7a7c7f;
  height: 53px;
  width: 888px;
  margin-bottom: 49px;
}

/* CARD */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

.card h3 {
  padding-top: 30px;
}

.card h2 {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 30px;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  width: 270px;
  height: 50px;
}

/* flower-lover */
.flower-lover {
  margin-top: 211px;
  display: flex;
  align-items: center;
  gap: 90px;
  position: relative;
}

.flower-lover-right h1 {
  font-weight: bold;
  font-size: 50px;
}
.flower-lover-right ul li {
  font-size: 22px;
  color: #7a7c7f;
  list-style-position: inside;
  padding: 25px;
}

.tlogo {
  height: 286px;
  width: 286px;
  left: 30%;
  bottom: 75%;
  position: absolute;
  background: transparent;
}

/* latest deals */
.deals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 133px;
}
.deals h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 16px;
}
.deals p {
  height: 53px;
  width: 888px;
  font-size: 22px;
  color: #7a7c7f;
}

/* <!-- picture gride --> */
.picture-gride {
  display: flex;
  gap: 28px;
  text-align: center;
  justify-content: space-between;
  margin-top: 121px;
  position: relative;
}

.left-up {
  background-image: url(./assets/deal-bloom.png);
  height: 201px;
  width: 367px;
  border-radius: 15px;
}
.left-down {
  background-image: url(./assets/deal-ana.png);
  height: 197px;
  width: 367px;
  margin-top: 25px;
  border-radius: 15px;
}
.picture-gride-right {
  background-image: url(./assets/deal-zabo.png);
  height: 424px;
  width: 880px;
  background-size: cover;
  border-radius: 25px;
}
.r-text {
  background: transparent;
  color: #ffffff;
  font-size: 40px;
  padding-top: 25%;
}
.r-text2 {
  background: transparent;
  color: #ffffff;
  font-size: 40px;
}
.content {
  color: #ffffff;
  display: grid;
  background: transparent;
  padding-top: 25%;
}

.content h1 {
  background: transparent;
}
.content p {
  background: transparent;
}

/* <!-- colorful bunch --> */
.bunch {
  background-image: url(./assets/news-letter-bg.png);
  background-size: cover;
  height: 533px;
  margin-top: 120px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.bunch-text-input {
  background: transparent;
  padding-top: 210px;
}
.bunch h1 {
  background: transparent;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
}
.bunch-input {
  display: flex;
  background: transparent;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 23px;
}
.inputbar {
  border: none;
  width: 644px;
  height: 50px;
  padding-left: 20px;
  color: #ffffff;
}

.btn2 {
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  width: 186px;
  height: 50px;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fafcff;
}
.footer-left {
  background: transparent;
}

.footer-left p {
  width: 359px;
  color: #7a7c7f;
  padding-top: 16px;
  background: transparent;
}
.footer-middle {
  background: transparent;
}
.footer-middle ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 111px;
  row-gap: 32px;
  color: #6b7280;
  background: transparent;
}
.footer-middle li {
  list-style-type: none;
  background: transparent;
}
.footer-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  background: transparent;
}

/* responsive */

@media screen and (max-width: 576px) {
  .container {
    width: 300px;
    margin: auto;
  }
  /* navebar */
  .navbar {
    padding-top: 67px;
  }

  .home-shop-us {
    display: none;
  }

  /* Banner section  */
  .banner {
    flex-direction: column-reverse;
  }

  .banner-right {
    width: auto;
    margin-top: 28px;
  }
  .banner-left h1 {
    font-size: 24px;
    padding-top: 28px;
    padding-left: 36px;
  }
  .banner-left p {
    width: 85%;
    font-size: 14px;
    padding-top: 13px;
    padding-left: 36px;
    height: 68px;
    width: 360px;
  }

  /* plant */

  .plant-header h1 {
    font-size: 24px;
    height: 33px;
    margin-top: 65px;
  }
  .plant-header p {
    font-size: 14px;
    height: 68px;
    width: 336px;
    padding-top: 16px;
  }
  /* card */
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 41px 20px;
  }
  .card h3 {
    font-size: 16px;
  }
  .card img {
    width: 171px;
    height: 196px;
  }

  .card h2 {
    font-size: 16px;
  }
  .btn {
    width: 171px;
    height: 50px;
  }

  /* flower-lover */

  .tlogo {
    display: none;
  }

  .flower-lover {
    margin-top: 41px;
    flex-direction: column;
    gap: 18px;
  }

  .flower-lover-left img {
    width: 350px;
    height: 396px;
  }
  .flower-lover-right h1 {
    font-size: 24px;
  }
  .flower-lover-right h1 br {
    display: none;
  }

  .flower-lover-right ul li {
    font-size: 14px;
    padding: 16px;
  }

  /* latest deals */
  .deals h1 {
    font-size: 24px;
    padding-top: 143px;
  }
  .deals p {
    height: 88px;
    width: 336px;
    font-size: 14px;
    margin-bottom: 51px;
  }

  /* <!-- picture gride --> */
  .picture-gride {
    flex-direction: column;
    align-items: center;
  }
  .left-down {
    border-radius: 0;
  }
  .picture-gride-right {
    height: 172px;
    width: 371px;
  }
  .r-text {
    background: transparent;
    color: #ffffff;
    font-size: 24px;
    padding-top: 25%;
  }
  .r-text2 {
    background: transparent;
    color: #ffffff;
    font-size: 18px;
  }
  /* <!-- colorful bunch --> */
  .bunch {
    height: 393px;
    margin-top: 40px;
  }
  .bunch-text-input {
    padding-top: 150px;
  }
  .bunch h1 {
    font-size: 20px;
  }
  .inputbar {
    width: 210px;
    padding-left: 20px;
  }
  .btn2 {
    width: 103px;
  }
  /* footer */
  .footer {
    flex-direction: column;
    gap: 20px;
  }
  .footer-left {
    margin-top: 50px;
  }
  .footer-left p {
    width: 359px;
    height: 48px;
  }
  .footer-middle ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-right {
    column-gap: 0;
  }
}
